.startRecording{
    width: 9%;
    height: 200%;
    background-color: whitesmoke;
    border: none;
    font-size: small;
    color: white;
    background-color: #3944BC;
    margin-bottom: 2px;
    margin-top: 200%;
    
    
}

